.no-text-transform {
  text-transform: none;
}
.my-blog-content {
  width: 90%;
  margin-top: 30px;
  background-color: #fff;
  overflow: hidden;
}
.my-blog-article {
  width: 100%;
}
.my-blog-image {
  width: 100%;
}
.my-blog-title {
  position: relative;
  text-align: center;
}
.my-blog-text-with-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 6vw;
  line-height: 6vw;
}
.my-blog-text-with-image-mid {
  font-size: 3vw;
}
.my-blog-text-with-image-small {
  font-size: 3vw;
}
.my-blog-post-content {
  margin-top: 50px;
  font-size: 1.5em;
}
.my-blog-tags {
  text-align: center;
  margin-top: 50px;
}
.my-blog-categories {
  text-align: center;
  margin-top: 50px;
}
body {
  background-color: #f2f2f2;
}
